# Java
*.class

# VS Code
.vscode/
*.code-workspace

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Gradle
build/
.gradle/

# Другие временные файлы
*.log
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

.gradle/
target/
